/*------------------------------------*\
    #COLOR
\*------------------------------------*/

$color-text:      		#444;
$color-links:  			blue;
$primary-color: 		green;
$secondary-color: 		blue;
$tertiary-color: 		orange;



$bg-color: 				#F7F7F7;
$white: 				#fff;
$black: 				#000;
$grey: 					#777;
$gray: 					$grey;
$gray--light: 			#ECECEC;