.form__label{
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
}

.form__input{
	height: 44px;
	background: white;
	width: 100%;
	max-width: 300px;
	border: 1px solid $blue;
	padding-left: 1em;
	margin-bottom: $base--spacing-unit;
	box-shadow: 0 8px 6px -10px rgba(0,0,0,0.2);
	transition: all 0.15s ease-out;
	&:hover{
		border-color: $blue--dark;
	}
	&:focus{
		outline: none;
		box-shadow: 0 8px 6px -5px rgba(0,0,0,0.3);
		transform: translate(0, -5px);
	}
}

.form__select--animate{
	box-shadow: 0 8px 6px -10px rgba(0,0,0,0.2);
	transition: box-shadow 0.15s ease-out, transform 0.15s ease-out;
	&:focus{
		outline: none;
		box-shadow: 0 17px 6px -14px rgba(0,0,0,0.3);
		transform: translate(0, -5px);
	}
}

.form__select{
	max-width: 255px;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 0;
	padding: 0em 3.4em 0.1em 1em;
	height: 44px;
	background: $sprite right -56px transparent;
	position: relative;
	cursor: pointer;
	display: inline-block;
	line-height: 2.8em;
	margin-right: 1em;
	margin-bottom: 1em;
	&:hover, &:focus{
		background-position: right -106px;
		outline: none;
	}
	option{
		color: $black;
	}
}

.form__select--full{
	width: 100%;
}

.form__select--half{
	width: 50%;
}