.header-img{
	min-height: 400px;
	max-height: 500px;
	height: 50%;
	position: relative;
}

.header-img--rallarvegen{
	background: url("/assets/img/rallarvegen1.jpg") center center ;
	background-size: cover;
}

.header-img__heading{

}

.header-img__content-wrapper{
	color: $white;
	text-align: center;
	top: 45%;
	position: relative;
}

.header-img__heading{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 48px;
	font-size: 3rem;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header-img__location{
	position: relative;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	text-transform: uppercase;
	&:before, &:after{
		background: $white;
		content: "";
		display: block;
		height: 3px;
		left: 110%;
		position: absolute;
		top: 45%;
		width: 200px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}
	&:before{
		left: auto;
		right: 110%;
	}
}

.header-img__description{
	max-width: 550px;
	font-size: 1.4em;
	margin: auto;
	text-shadow: 0 0 11px rgba(0, 0, 0, 1);
}