.page-head{
background: $white;
box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
padding: 0.75em 1em 0 1em;
//position: fixed;
width: 100%;
z-index: 15;
min-height: 60px;

	.wrapper{
		padding-right: 0;
		padding-left: 0;
	}
}

.page-head__logo{
	//float: left;
}