.site-nav{

	@include bp(portable){
		& > li{
			display: block;
			padding-left: $base--spacing-unit;
		}
		padding-top: $base--spacing-unit;
		width: 250px;
		position: fixed;
		background: #fff;
		height: 100%;
		left: -250px;
		top: 0px;
		box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
	}

	a{
		color: $grey;
		text-transform: uppercase;
		font-size: 12px;
		padding-top: 14px !important;
		padding-bottom: 14px !important;
		&:hover{
			color: $green;
		}
		@include bp(portable) {
			padding-top: 16px !important;
			padding-bottom: 16px !important;
		}
	}

}

body{
	transition: transform 0.2s ease-out;
}

.site-nav-show{
	@include bp(portable) {
		transform: translate(250px, 0);
	}
}

.site-nav__show-button{
	display: none;
	@include bp(portable) {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0.5em;
		padding: 0.5em $base--spacing-unit 0.5em 0.5em;
	}
}

.site-nav__close-button{
	a{
		color: $green;
		&:hover{
			color: $black;
		}
	}
}