
   .sprite{
       background-image: $sprite;
   }
   .sprite--arrow-down{ background-position: 0px 3px  ; }

	.sprite--fjordTours-logo {
		background-image: url(/_themes/fjordTours/img/logo.png);
		background-position: 0;
		background-size: cover;
		width: 168px;
		height: 35px; }