/*------------------------------------*\
    #COLOR
\*------------------------------------*/

$green: 				#a3c44d;
$orange: 				#e09c3b;
$blue:					#4C81A4;
$brand--blue: 			#5373b3;
$blue--dark:			#294351;



$base--text-color:      #444;
$base--link-color:      $blue;
$primary-color: 		$green;
$secondary-color: 		$blue;
$tertiary-color: 		$orange;



$bg-color: 				#F7F7F7;
$white: 				#fff;
$black: 				#000;
$grey: 					#777;
$gray: 					$grey;
$gray--light: 			#ECECEC;