/*------------------------------------*\
    #VARS
\*------------------------------------*/
/**
 * Generic, non-specific variables.
 */
$base--font-size:       16px;
$base--line-height:     24px;

$show-baseline-grid:    false;


$sprite: url("/_themes/fjordTours/img/sprite.svg");


