/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
@import "../../bower_components/inuit-widths/_trumps.widths.scss";

$inuit-enable-margins:          true;
$inuit-enable-margins--small:   true;
$inuit-enable-margins--large:   true;
$inuit-enable-margins--none:    true;

$inuit-enable-paddings:         true;
$inuit-enable-paddings--small:  true;
$inuit-enable-paddings--large:  true;
$inuit-enable-paddings--none:   true;
@import "../../bower_components/inuit-spacing/trumps.spacing.scss";

@import "trumps.helpers.scss",
        "trumps.shame.scss";
